@import '../variables.scss';

.comparison-card {
    align-items: stretch;
    border: 1px solid gray;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.2rem $main-color-dark;
    display: flex;
    flex-direction: column;
    height: 18rem;
    overflow: hidden;
    margin: 1rem;
    text-align: center;
    max-width: 12rem;
    min-width: 12rem;
}