@import '../variables.scss';
.card {
    align-items: stretch;
    border: 1px solid $main-color-dark;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.2rem $main-color-dark;
    box-sizing: border-box;
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 18rem;
    overflow: hidden;
    margin: 1rem;
    text-align: center;
    max-width: 12rem;
    min-width: 12rem;
    &:hover {
        background-color: $selected;
    }
    .district-name {
        color: $white;
        background-color: $accent-color;
        box-sizing: border-box;
        font-size: 1.2rem;
        height: 4rem;
        padding: 1rem;
    }
    .district-data {
        align-self: center;
        font-size: 0.8rem;
        text-align: left;
        padding: 1rem;
        .icon-pencil {
            height: 0.5rem;
            margin-right: 0.5rem;
            margin-left: -1rem;
        }
        .high-score {
            color: $high-score;
        }
        .mid-high-score {
            color: $mid-high-score;
        }
        .mid-low-score {
            color: $mid-low-score;
        }
        .low-score {
            color: $low-score;
        }
    }
}

.selected {
    background-color: $selected;
    border: 2px solid $accent-color-bright;
}