.card {
  align-items: center;
  border: 1px solid gray;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 16rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  max-width: 12rem;
  min-width: 12rem; }
  .card .district-name {
    font-size: 1.2rem; }
  .card .district-data {
    font-size: 0.8rem;
    text-align: left; }
    .card .district-data .greaterThan {
      color: blue; }
    .card .district-data .lessThan {
      color: red; }

.selected {
  background-color: rgba(0, 197, 0, 0.37); }
