@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:700");
.card {
  align-items: center;
  border: 1px solid gray;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.2rem #6D6E71;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 14rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  max-width: 12rem;
  min-width: 12rem; }
  .card .district-name {
    font-size: 1.2rem;
    height: 4rem; }
  .card .district-data {
    font-size: 0.8rem;
    text-align: left; }
    .card .district-data .greaterThan {
      color: blue; }
    .card .district-data .lessThan {
      color: red; }
