@import '../variables.scss';

.card {
    align-items: center;
    border: 1px solid gray;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.2rem $main-color-dark;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 14rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    max-width: 12rem;
    min-width: 12rem;

    .district-name {
        font-size: 1.2rem;
        height: 4rem;
    }

    .district-data {
        font-size: 0.8rem;
        text-align: left;

        .greaterThan {
            color: $high-score;
        }

        .lessThan {
            color: $low-score;
        }
    }
}
