@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:700");
.app {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif; }
  .app .header {
    background-color: #00A79D;
    color: #FFF;
    font-family: "Roboto Slab", serif;
    font-size: 6.4rem;
    padding: 1.2rem;
    text-align: center; }
    .app .header .dot {
      font-size: 1rem;
      margin: 0; }
